# Python
__pycache__/
*.pyc

# OS files
.DS_Store
Thumbs.db

# Logs and temp
*.log
*.tmp
*.~*

# IDE and editor folders
.vscode/
*.sublime-project

# Node modules and build folders
node_modules/
dist/
build/

# Data (if not needed)
*.csv
*.json

#Virtual environments
venv/
env/
.venv/

# Jupyter
.ipynb_checkpoints/

